* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.clockcirc1 {
    width: 25rem;
    height: 25rem;
    background-color: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

}

.outerdots p,
.bigdots p {
    width: 2rem;
    height: 1rem;
    background-color: transparent;
    transform-origin: 0 0;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 2px;
    position: absolute;
    transform: rotate(calc(6deg*var(--xx)));
}

.outerdots p::before {
    content: '';
    width: 10px;
    height: 10px;
    /* background-color: #333f99; */
    /* background: linear-gradient(to bottom, #8F9396 1%, #111619 3%, #434949 5%, #BABEC1 14%, #E2E6E9 19%, #E2E6E9 22%, #828689 40%); */
    background: linear-gradient(to bottom, #8F9396 1%, #111619 3%, #434949 5%, #BABEC1 14%, #434949 19%, #434949 22%, #434949 40%);
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 3px 5px 5px;
    inset: 97%;
}

.clockcircNumbers {
    position: absolute;
    transform-origin: 0 0;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background-color: #333f99;
    inset: 0.5rem;
    /* background: linear-gradient(to bottom, #8F9396 1%, #111619 3%, #434949 5%, #BABEC1 14%, #E2E6E9 19%, #E2E6E9 22%, #828689 40%);
    background: linear-gradient(to bottom, #8F9396 2%, #111619 4%, #434949 9%, #BABEC1 15%, #E2E6E9 19%, #E2E6E9 22%, #373D3D 46%);
    background: repeating-linear-gradient(90deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.3) 1px,
            transparent 1px,
            transparent 3px,
            rgba(0, 0, 0, 0.3) 3px,
            rgba(0, 0, 0, 0.2) 4px,
            transparent 4px,
            transparent 6px,
        );
    background: linear-gradient(90deg,
            #0A181A 46%,
            #A3A8AB 50%,
            #F9FEFF 72%,
            #FAFBFF 80%,
            #D6DBDC 90%,
            #0A0B10 94%); */
    background: linear-gradient(-138deg,
            #373D7D 0%,
            #2E305B 22%,
            #2E305B 23%,
            #2E305B 64%,
            #373D7D 100%);
}

/* .minutecounts p {
    position: absolute;
    text-align: center;
    transform-origin: left;
    top: 50%;
    inset: 10%;
    left: 50%;
    color: white;
    font-size: 2rem;
    transform: rotate(calc(30deg*var(--xxmin)));
    display: inline;
}

.minutecounts .withnum span {
    transform: rotate(calc(-30deg*var(--xxmin)));
} */
.num {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    text-align: center;
    inset: 10px;
    color: white;
    font-size: 2rem;
}


.nonum {
    width: 5px;
    transform-origin: 0 0;
    left: 50%;
    top: 50%;
    height: 46%;
    background-color: transparent;
}

.nonum::after {
    width: 7px;
    height: 20px;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: linear-gradient(to bottom, #E2E6E9 50%, #828689 0%, #E2E6E9 5%, #BABEC1 100%, #E2E6E9 1%, #E2E6E9 2%, #828689 0%);
}

.nonum {
    position: absolute;

}

.diff {

    transform-origin: 0 0;
    left: 50%;
    top: 50%;
    position: absolute;
    height: 46%;
    width: 10px;
    background-color: transparent;

}

/* top right bottom left  */
.diff::after {
    content: '';
    position: absolute;
    border-width: 0rem 1.2rem 1.9rem 1.2rem;
    bottom: 0;
    right: -1rem;
    border-color: transparent transparent #E2E6E9 transparent;
    border-style: solid;
    /* background: linear-gradient(to bottom, #E2E6E9 50%, #828689 0%, #E2E6E9 5%, #BABEC1 100%, #E2E6E9 1%, #E2E6E9 2%, #828689 0%); */

}

.diff::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #E2E6E9;
    position: absolute;
    bottom: 0;
    box-shadow: #333 2px 0px 9px 2px;
    z-index: 1;
    left: -0.05rem;
    bottom: 0.1rem;
}

.incompletesecs p,
.completesecs p {
    background-color: red;
    height: 45%;
    width: 2px;
    position: absolute;
    transform-origin: 0 0;
    top: 50%;
    right: 50%;
    transform: rotate(calc(6deg*var(--inc)));
}

.incompletesecs p::after,
.completesecs p::after {
    content: '';
    height: 0.8rem;
    width: 3px;
    position: absolute;
    background-color: #E2E6E9;
    bottom: 0;

}

.incompletesecs p:nth-child(12)::after {
    left: -0.3rem;
}

.incompletesecs p:first-child,
.incompletesecs p:nth-child(6),
.incompletesecs p:nth-child(11),
.incompletesecs p:nth-child(16) {
    display: none;
}

.lastcirc {
    position: absolute;
    width: 17.8rem;
    height: 17.8rem;
    inset: 3.5rem;
    /* border: 10px double #E2E6E9; */
    background-color: #333f99;
    border-radius: 50%;
    box-shadow: #828689 0px 0px 0px 6px;
    /* background: linear-gradient(to bottom, #E2E6E9 50%, #828689 0%, #E2E6E9 5%, #BABEC1 100%, #E2E6E9 1%, #E2E6E9 2%, #828689 0%); */

    background: linear-gradient(10deg,
            #373D7D 0%,
            #373D7D 20%,
            #2E305B 10%,
            #333f99 4%,
            #373D7D 2%);

}


.completesecs p {
    z-index: 1;
    transform: rotate(calc(6deg*var(--comp)));
    height: 34.8%;
    background-color: transparent;

}

.completesecs p::after {
    height: 7px;
    width: 2px;
}

.completesecs p:nth-child(1)::after,
.completesecs p:nth-child(6)::after,
.completesecs p:nth-child(11)::after,
.completesecs p:nth-child(16)::after,
.completesecs p:nth-child(21)::after,
.completesecs p:nth-child(26)::after,
.completesecs p:nth-child(31)::after,
.completesecs p:nth-child(36)::after,
.completesecs p:nth-child(41)::after,
.completesecs p:nth-child(46)::after,
.completesecs p:nth-child(51)::after,
.completesecs p:nth-child(56)::after {
    height: 10px;
    width: 4px;
}

.bigdots p {
    z-index: 1;
    transform-origin: 0 0;
    height: 30.7%;
    width: 2px;
    transform: rotate(calc(30deg * var(--dots)));
    background-color: transparent;
}

.bigdots p:nth-child(3)::after,
.bigdots p:nth-child(2)::after,
.bigdots p:nth-child(5)::after,
.bigdots p:nth-child(6)::after,
.bigdots p:nth-child(8)::after,
.bigdots p:nth-child(9)::after,
.bigdots p:nth-child(11)::after,
.bigdots p:nth-child(12)::after {
    content: '';
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: -6px;
    box-shadow: #BABEC1 -0.6px 0.5px 0px 2px;
    background-color: white;
}



.bigdots p:nth-child(1)::after,
.bigdots p:nth-child(4)::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0.5rem;
    height: 1.5rem;
    border-radius: 0;
    box-shadow: #BABEC1 -0.6px 0.5px 0px 2px;
    background-color: white;
    right: -1.5px;
}

.bigdots p:nth-child(7)::after {
    /* box-shadow: #BABEC1 -0.6px 0.5px 0px 2px; */
    content: '';
    bottom: 0rem;
    position: absolute;
    right: -0.7rem;
    border-width: 0rem 0.8rem 1.8rem 0.8rem;
    border-color: transparent transparent #E2E6E9 transparent;
    border-style: solid;
}

/* .bigdots p:nth-child(10)::after {
    box-shadow: #BABEC1 -0.6px 0.5px 0px 2px;
    content: '';
    bottom: 0rem;
    position: absolute;
} */
.bigdots .ten {
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
    left: 17.5rem;
    bottom: 0;
    background-color: white;
    width: max-content;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid #5454be;
    /* border-radius: 2px; */
    z-index: 1;
}

.bigdots .ten::after {
    content: '';
    width: 2.8rem;
    height: 2rem;
    position: absolute;
    /* background: rgba(255, 255, 255, 0.1); */
    /* background: linear-gradient(45deg, rgba(255, 255, 255, .1), rgba(255, 255, 250, .2)); */
    background: repeating-linear-gradient(60deg, transparent, transparent, transparent, transparent, transparent, rgba(255, 255, 255, 0.1), transparent 40%);
    z-index: 30;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.king {
    position: absolute;
    background-color: white;
    height: 2rem;
    width: 2px;
    transform: rotate(calc(-11deg*var(--k)));
    top: 30%;
    z-index: 1;
    right: 50%;
    transform-origin: bottom;

}

.kingsbot {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #5454be;
    top: 35%;
    right: 48.5%;
    border: 3px solid white;
    z-index: 1;

}

.king::after {
    content: '';
    width: 2.5px;
    height: 2.5px;
    background-color: white;
    position: absolute;
    top: 0;
}

.circCenter {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #d0d0d0;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2;
}

.minutes,
.hours {
    width: 0.5rem;
    height: 5rem;
    background-color: #d0d0d0;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1;
    border-radius: 10% 10% 100% 100%;
}

.name,
.name2 {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    font-size: 1.5rem;
    top: 38%;
    right: 40%;
}

.name2 {
    font-size: 9px;
    top: 44.5%;
    right: 37%;
}

.comments {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    font-size: 9px;
    text-align: center;
    bottom: 30%;
    right: 35%;

}

/* https://codepen.io/chrisota/pen/OJJbdbR */